* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "BPG Glaho Bold", sans-serif;
}

main {
  padding-top: 78px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 72px;
  padding-block: 16px;
  background-color: #750075;
  align-items: center;
  position: fixed;
  width: 100%;
}
p {
  background-color: black;
}

#title {
  font-size: 24px;
  text-transform: uppercase;
}

#title span {
  color: rgb(154, 0, 0);
}
nav {
  display: flex;
  gap: 24px;
}

nav a {
  text-decoration: none;
}

.main-btn {
  padding: 12px 24px;
  background-color: #ad03ad;
  border: 1px solid #ff00ff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.main-btn:hover {
  box-shadow: 0px 0px 8px 0px #ff00ff, inset 0px 0px 8px 0px #ff00ff;
}
aside {
  width: 100vw;
  height: 100dvh;
  background-color: mediumslateblue;
  position: fixed;
  top: 61px;
  left: 100%;
  z-index: 100;
  transition: all 1s;
}

aside nav {
  flex-direction: column;
}

#menu-btn {
  display: none;
}

aside.active {
  left: 0;
}

@media (max-widht: 800px) {
  nav {
    display: none;
  }
}

@media (max-width: 800px) {
  header {
    padding-inline: 24px;
  }
  header nav,
  header .main-btn {
    display: none;
  }
  main {
    padding-top: 61px;
  }

  #menu-btn {
    display: block;
  }

  .hero {
    background-image: url("https://picsum.photos/800/1200");
  }
}

.hero {
  width: 100%;
  height: calc(100dvh - 78px);
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-inline: 72px;
}

.hero_form {
  width: 320px;
  background-color: #381d38ba;
  border-radius: 8px;
  padding: 24px;
}

.hero_form h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #fafafa;
}

.hero_form input,
.hero_form label {
  display: block;
}

.hero_form input {
  width: 100%;
  margin-top: 8px;
  color: black;
  padding-left: 8px;
  border: 1px solid transparent;
}

.hero_form label {
  margin-top: 16px;
  font-size: 14px;
}

.hero_form button {
  cursor: pointer;
  width: 100%;
  height: 36px;
  margin-top: 16px;
  background-color: #750075;
  color: #fafafa;
  border: none;
  border-radius: 8px;
  color: black;
}

.hero_form button:hover {
  box-shadow: 0px 0px 8px 0px #ff00ff;
}

.hero_form input:focus {
  outline: none;
}

input.invalid {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.655);
  color: white;
}

input.valid {
  border: 2px solid green;
  color: wheat;
  background-color: rgba(0, 128, 0, 0.545);
}

.hero_form div {
  position: relative;
}

.error {
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: red;
}
.hidden {
  display: none;
}
